* {
    padding: 0;
    margin: 0;
}
/* HEADER */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/png/Imagem_de_fundo.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    text-align: center;
    color:rgb(239, 194, 179);
    font-family: sans-serif;
    width: 400px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
}

.titulo h1 {
    text-transform: uppercase;
    font-size:xx-large;
    box-sizing: border-box;
    margin: 20px;
}

.titulo p {
    font-size: 20px;
}

#seta {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 80px;
    height: auto;
    transform: translateX(-50%);
    z-index: 1;
}
/* aumentar a seta */
#seta:hover {
    transform: translateX(-50%) scale(1.2);
    transition: transform 0.3s ease;
}

.img_pequena {
    width: 30px;
    height: 30px;
}

.navbar {
    display: flex;
    background-color: #1a2456;
    color: #ffd5c9;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    font-family:serif;
    font-size: small;
    margin: 20px 15px;
    padding: 20px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 10;
}

.navbar li a:hover, .navbar_logo p:hover{
    color: #ff8b68;
}

.navbar_logo {
    display: flex;
    align-items: center;
}
.navbar_logo p {
    margin-left: 5px;
}

.navbar_links{
    display: flex;
    align-items: center;
}

.navbar_links ul {
    display: flex;
    list-style: none;
}

.navbar_links a {
    text-decoration: none;
    color: #ffd5c9;
    margin: 8px;
}
/* dropdown para valores */
#dropdown > li {
    display: inline-block;
    position: relative;
    padding: 0;
}

#dropdown li ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color :#1a2456;

}

#dropdown li:hover ul {
    display: block;
}

#dropdown li a:hover {
    background-color: #ffd5c9;
    color :#1a2456; 
}
/* MAIN */
main {
    background-color: #f0efed;;
}
/* para deixar em colunas */
.primeira_parte {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.primeira_parte section {
    width: 500px;   
    box-sizing: border-box;
}

.primeira_parte section img {
    width: 500px;
    height: 330px;
}

.info_produto {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    align-items: center;
    height: 40px;
}

.titulo_produto {
    text-transform: uppercase;
    color: #1a2456;
    font-size: 18px;
    font-family: sans-serif;
    max-width: 230px;
}

.status_produto {
    color: #6c757d;
    font-size: 15px;
    font-family: sans-serif;
}

.descricao_produto {
    color: #1a2456;
    font-family: sans-serif;
    font-size: 14px;
}
/* Animação da imagem do produto */
.imagem_produto {
    display: flex;
    justify-content: right;
}

.hover_imagem_produto {
    position: relative;
}

.tamanho_imagem {
    width: 500px;
    height: 333px;
}
.hover_imagem_produto img {
    position: absolute;
    transition: opacity 0.5s ease;
}

.primeira_imagem {
    opacity: 1;
}

.segunda_imagem {
    opacity: 0;
}

.hover_imagem_produto:hover .primeira_imagem {
    opacity: 0;
}

.hover_imagem_produto:hover .segunda_imagem {
    opacity: 1;
}

/* tag de pre-ordem fixa */
.tag {
    position: absolute;
    background-color: #ff8b68;
    margin-top: 10px;
    font-size: medium;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #212529;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

/* quando for um ultimo produto e ele for impar: */
.primeira_parte section:last-child:nth-child(odd) {
    width: 1030px;
    height: auto ;
}

.primeira_parte section:last-child:nth-child(odd) .titulo_produto{
    max-width: 1030px;
    height: auto ;
}

.primeira_parte section:last-child .imagem_produto {
    width: 1030px;
    height: 460px;
    justify-content: left;
}

.primeira_parte section:last-child img {
    width: 1030px;
    height: 453px;
    
}
/* SEGUNDA PARTE DA MAIN */
.segunda_parte {
    width: 100%;
    height: 500px;
    background-color: #c5c5c5;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.segunda_parte img {
    width: 1000px;
    height: 500px;
    position: absolute;
    z-index: 1;
}

.text_segunda_parte {
    z-index: 2;
    margin: 40px;
    font-family: sans-serif;
    color: #1a2456;
    text-align: center;
}

.text_segunda_parte h2 {
    font-size: 35px;
    text-transform: uppercase;
}

.text_segunda_parte p {
    margin: 15px;
    font-size: 18px;
    font-weight: 400;

}

/* TERCEIRA PARTE DA MAIN */
.terceira_parte {
    padding: 40px;
}
/* fiz igual ao do xadrez: */
.linha {
    display: flex;
    width: calc(33.33% - 10);
    box-sizing: border-box;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.produto_menor {
    width: 336px;
    height: 336px;
}

/* pra deixar a imagem com zoom proporcional */
.produto_menor img{
    width: 336px;
    height: 336px;
    object-fit: cover; 
}

.shop_now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag_shop {
    display: none;
    background-color: #1a2456;
    color: #fff;
    border-radius: 15px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 10px;
}

/* animacao da tag shop now */
.produto:hover .tag_shop {
    display: block;
}

.produto:hover .preco{
    display: none;
}

/* FOOTER */

footer {
    background-color: #1a2456;
    color: #efc2b3;
    display: flex;
    height: 200px;
    padding: 40px 100px;
    gap: 50px;
    font-family: sans-serif;
    justify-content: center;
}

footer section {
    max-width: 400px;
    margin: 0px 20px;
}

.titulo_segmento {
    text-transform: uppercase;
    font-size: 10px;
}

.segmento {
    font-size: 12px;
    gap: 10px;
}

.segmento p{
    margin: 8px 0px;
}
.segmento a{
    text-decoration: none;
    color: #efc2b3;
}

.segmento a:hover {
    text-decoration:underline;
}

#email {
    background-color: #1a2456;
    color: #fff;
    height: 25px;
    border: 1px solid #efc2b3;
}

#botao_email {
    margin-left: 10px;
    padding: 3px 15px;
    background-color: #c0a095;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1a2456;
}

.div_icones {
    margin-top: 10px;
    display: flex;
}
.icones {
    margin-right: 5px;
    display: flex;
    background-color: #efc2b3;
    width: 25px;
    height: 23px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.icones img {
    width: 20px;
    height: 20px;
}